---
swagger: "2.0"
info:
  description: "."
  version: "0.0.1"
  title: "Authentication Service"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "prajakt.shastry@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "placeholder.dreamize.com"
basePath: "/v1"
tags:
- name: "auth"
  description: "Authentication service"
  externalDocs:
    description: "None yet"
    url: "https://placeholder.dreamize.com"
schemes:
- "https"
paths:
  /auth/signup:
    post:
      tags:
      - "auth"
      summary: "Create user account"
      description: "This creates user account and triggers."
      operationId: "sign_up_user"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "user"
        description: "Created user object"
        required: true
        schema:
          $ref: "#/definitions/User"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/User"
        500:
          description: "error while creating user"
      x-swagger-router-controller: "swagger_server.controllers.auth_controller"
definitions:
  User:
    type: "object"
    required:
    - "email"
    - "password"
    properties:
      id:
        type: "integer"
        format: "int64"
      username:
        type: "string"
      firstName:
        type: "string"
      lastName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"
    example:
      firstName: "firstName"
      lastName: "lastName"
      password: "password"
      id: 0
      email: "email"
      username: "username"
